*{
  background-color: rgb(190, 211, 213);
}

#container{
 display: flex;
 flex-flow: column wrap;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 50px;
 width: 500px;
 height: 400px;
 background-color: rgb(237, 245, 243);
 border-radius: 5%;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  & h2{
 
  align-items: center;
  font-family: sans-serif;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-size: 250%;
  font-style: normal;
  background-color: transparent;  
}

  & form{
   background-color: rgb(237, 245, 243);   

      /* .fa-solid fa-check{
        margin-left: 10px;
      } */
}
    .input{
      padding: 5px;
      width: 400px;
      height: 30px;
      border-radius: 10px ;   
      border-style: hidden;
      text-align: center;
      background-color: white;
    }
     .list-button{
      padding: 5px;
      width: 60px;
      height: 40px;
      border-radius: 10px ; 
      border-style: hidden;
      text-align: center;
      background-color: rgb(229, 158, 150) ;
      font-weight: bold;
      cursor: pointer;
      font-family: sans-serif;
    }
  

  & #list-container{
      background-color: transparent;
      
    & .list-task{
      background-color: transparent;
      list-style-type: none;
        & li{
          margin-left: -40px;
          background-color: transparent;
            &  p{
                background-color: white;
                padding: 8px;
                border-radius: 5px;
                font-family:  sans-serif;
                font-size: small;
                margin: 20px 20px 0 20px ;
            }
        }
      
    }
  }
  
  & .empty{
  font-family: sans-serif;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  background-color: transparent;
    & p{
    background-color: transparent;
    }
  }
}